graft src
include *.md LICENSE
include *.rst
recursive-include docs *.py
recursive-include docs *.rst

exclude .flake8 noxfile.py .coveragerc
prune tests
prune scripts

global-exclude *.py[cod]
global-exclude __pycache__
